<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Crafto - The Multipurpose HTML5 Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description"
        content="Elevate your online presence with Crafto - a modern, versatile, multipurpose Bootstrap 5 responsive HTML5, SCSS template using highly creative 52+ ready demos.">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.min.css" />
    <link rel="stylesheet" href="/css/icon.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/demos/fashion-store/fashion-store.css" />
    <!-- Font Awesome 6 (latest) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />


</head>

<body data-mobile-nav-style="classic">
    <!-- start header -->
    <header class="header-with-topbar">
      
            <div
                class="header-top-bar top-bar-light bg-black disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font fs-13 fw-500 text-uppercase">
                            <div class="text-green">Enjoy FREE standard delivery on orders
                                over ₦50,000 nationwide.</div>
                            <a href="#" class="text-green fw-600 ms-5px text-hover"><span
                                    class="text-decoration-line-bottom">Shop now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed center-logo chat-nav">
                <div class="container-fluid">
                    <div class="col-auto col-xxl-3 col-lg-2 menu-logo">
                        <div class="header-icon d-none d-lg-flex">
                            <div class="widget-text icon alt-font">
                                <a href="/contact"> <i class="fa-brands fa-tiktok d-inline-block me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Find stores</span></a>
                                       
                                        
                            </div>
                            <div class="widget-text icon alt-font">
                                <a href="https://www.instagram.com/" target="_blank">    <i class="fa-brands fa-instagram d-inline-block me-5px "></i><span
                                        class="d-none d-xxl-inline-block">100k Followers</span></a>
                                    
                            </div>
                        </div>
                        <a class="navbar-brand" href="demo-fashion-store.html">
                            <h1 class="fs-3 name-logo">Trendy</h1>

                            <!-- <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="default-logo">
                        <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="alt-logo">
                        <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="mobile-logo"> -->
                        </a>
                    </div>
                    <div class="col-auto col-xxl-6 col-lg-8 menu-order">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav alt-font navbar-left justify-content-end">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item dropdown submenu">
                                    <a href="/chat" class="nav-link">Chat</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <!-- <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="d-lg-flex mega-menu m-auto flex-column">
                                        <div
                                            class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 mb-50px md-mb-25px xs-mb-15px">
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Men</li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Trousers</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Casual shirts</a></li>
                                                    <li><a href="#">Rain jackets</a></li>
                                                    <li><a href="#">Loungewear</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Women</li>
                                                    <li><a href="#">Dupattas</a></li>
                                                    <li><a href="#">Leggings</a></li>
                                                    <li><a href="#">Ethnic wear</a></li>
                                                    <li><a href="#">Kurtas & suits</a></li>
                                                    <li><a href="#">Western wear</a></li>
                                                    <li><a href="#">Dress materials</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Kids</li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Jumpsuits</a></li>
                                                    <li><a href="#">Track pants</a></li>
                                                    <li><a href="#">Ethnic wear</a></li>
                                                    <li><a href="#">Value packs</a></li>
                                                    <li><a href="#">Loungewear</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Divided</li>
                                                    <li><a href="#">Tops</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shorts</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Jackets</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Accessories</li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Scarves</a></li>
                                                    <li><a href="#">Watches</a></li>
                                                    <li><a href="#">Wristwear</a></li>
                                                    <li><a href="#">Backpacks</a></li>
                                                    <li><a href="#">Sunglasses</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-sm-2">
                                            <div class="col">
                                                <a href="demo-fashion-store-shop.html"><img
                                                        src="https://via.placeholder.com/580x175" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <a href="demo-fashion-store-shop.html"><img
                                                        src="https://via.placeholder.com/580x175" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                </li>
                                <!-- <li class="nav-item dropdown submenu">
                                <a href="demo-fashion-store-collection.html" class="nav-link">Collection</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="d-lg-flex mega-menu m-auto flex-column">
                                        <div
                                            class="row row-cols-2 row-cols-lg-6 row-cols-md-3 row-cols-sm-2 md-mx-0 align-items-center justify-content-center">
                                            <div class="col md-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Polo t-shirts</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Sunglasses</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Skinny blazer</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col sm-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Casual shoes</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Winter
                                                            jackets</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Men's shorts</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            </ul>
                            <ul class="navbar-nav alt-font navbar-right justify-content-start">
                                <li class="nav-item">
                                    <!-- <a href="demo-fashion-store-magazine.html" class="nav-link">Magazine</a> -->
                                </li>
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">Pages</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                        <!-- <li><a href="demo-fashion-store-about.html">About</a></li>
                                    <li><a href="demo-fashion-store-faq.html">Faq</a></li>
                                    <li><a href="demo-fashion-store-wishlist.html">Wishlist</a></li> -->
                                        <li><a href="demo-fashion-store-account.html">Account</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="demo-fashion-store-checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/contact" class="nav-link">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-xxl-3 col-lg-2 text-end">
                        <div class="header-icon">
                            <!-- <div class="header-search-icon icon alt-font">
                                <a href="javascript:void(0)" class="search-form-icon header-search-form"><i
                                        class="feather icon-feather-search me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Search</span></a>
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close alt-font">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left"
                                        action="search-result.html">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray text-center mb-4 fw-600 alt-font ls-minus-1px">
                                                What
                                                are you looking for?</h2>
                                            <input class="search-input alt-font" id="search-form-input5e219ef164995"
                                                placeholder="Enter your keywords..." name="s" value="" type="text"
                                                autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                            <div class="widget-text icon alt-font">

                                <!-- <a href="/register"><i class="feather icon-feather-user d-inline-block me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Account</span></a> -->

                                <% if (isAuth) { %>
                                    <!-- Show when logged in -->
                                    <!-- <a href="/profile"><i class="fas fa-user"></i> Profile</a>
                                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a> -->
                                    <a href="/profile"> Profile</a>
                                    <a href="/logout"> Logout</a>
                                    <% } else { %>
                                        <!-- Show when NOT logged in -->
                                        <a href="/login"> Login</a>
                                        <a href="/register">Signup</a>
                                        <% } %>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="javascript:void(0);"><i class="fa-solid fa-cart-shopping"></i><span
                                            class="cart-count alt-font text-white bg-dark-gray">2</span></a>
                                            <!-- <i class="feather icon-feather-shopping-bag"></i>  -->
                                    <ul class="cart-item-list">
                                        <li class="cart-item align-items-center">
                                            <a href="javascript:void(0);" class="alt-font close">×</a>
                                            <div class="product-image">
                                                <a href="demo-fashion-store-single-product.html"><img
                                                        src="https://via.placeholder.com/600x765" class="cart-thumb"
                                                        alt=""></a>
                                            </div>
                                            <div class="product-detail fw-600">
                                                <a href="demo-fashion-store-single-product.html">Ribbed tank</a>
                                                <span class="item-ammount fw-400">1 x $23.00</span>
                                            </div>
                                        </li>
                                        <li class="cart-item align-items-center">
                                            <a href="javascript:void(0);" class="alt-font close">×</a>
                                            <div class="product-image">
                                                <a href="demo-fashion-store-single-product.html"><img
                                                        src="https://via.placeholder.com/600x765" class="cart-thumb"
                                                        alt=""></a>
                                            </div>
                                            <div class="product-detail fw-600">
                                                <a href="demo-fashion-store-single-product.html">Pleated dress</a>
                                                <span class="item-ammount fw-400">2 x $15.00</span>
                                            </div>
                                        </li>
                                        <li class="cart-total">
                                            <div class="fs-18 alt-font mb-15px"><span
                                                    class="w-50 fw-500 text-start">Subtotal:</span><span
                                                    class="w-50 text-end fw-700">$199.99</span></div>
                                            <a href="demo-fashion-store-cart.html"
                                                class="btn btn-large btn-transparent-light-gray border-color-extra-medium-gray">View
                                                cart</a>
                                            <a href="demo-fashion-store-checkout.html"
                                                class="btn btn-large btn-dark-gray btn-box-shadow">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
   <main style="margin-top: 150px;">
<h2>nnnnnnnnnnnnnnn</h2>

<!-- CREATE POST -->
<!-- <form action="/chat/create" method="POST">
  <input name="image" placeholder="upload image">
  <textarea name="text" placeholder="What do you want to buy?" required></textarea>
  <button type="submit">Post</button>
</form> -->
<form action="/chat/create" method="POST" enctype="multipart/form-data">

  <input
    type="file"
    name="image"
    accept="image/*"
    capture="environment"
  >

  <textarea
    name="text"
    placeholder="What do you want to buy?"
    required
  ></textarea>

  <button type="submit">Post</button>

</form>

<hr>

<!-- POSTS -->
<% posts.forEach(post => { %>

<div class="post-card">

  <!-- HEADER -->
  <div class="post-header">
    <%= post.creator.username %>
  </div>

  <!-- IMAGE -->
  <% if (post.image) { %>
    <div class="post-image">
      <img src="<%= post.image %>">
    </div>
  <% } %>

  <!-- CONTENT -->
  <div class="post-content">

    <p class="post-text"><%= post.text %></p>

    <%
    const total = post.interested.length;
    const groupSize = 4;
    const remaining = total % groupSize;
    const spotsLeft = remaining === 0 ? 0 : groupSize - remaining;
    %>

    <div class="group-info">
      👥 <strong><%= total %></strong> interested
      <br>

      <% if (spotsLeft === 0 && total > 0) { %>
        <span style="color:green;">✅ Group ready</span>
      <% } else { %>
        🟢 <%= spotsLeft %> more needed
      <% } %>
    </div>

    <!-- JOIN -->
    <form action="/chat/join/<%= post._id %>" method="POST">
      <select name="size" required>
        <option value="">Size</option>
        <option>10</option>
        <option>12</option>
        <option>14</option>
        <option>16</option>
      </select>

      <input name="location" placeholder="City" required>

      <button class="join-btn">Join Group</button>
    </form>

  </div>

  <!-- COMMENTS -->
  <div class="post-content">
    <% post.comments.forEach(c => { %>
      <div class="comment">
        <strong><%= c.user.username %></strong> <%= c.text %>
      </div>
    <% }) %>
  </div>

  <!-- ADD COMMENT -->
<form class="comment-form" action="/chat/comment/<%= post._id %>" method="POST">

  <input
    type="text"
    name="text"
    placeholder="Add a comment..."
    required
    enterkeyhint="send"
    autocomplete="off"
  >

  <button type="submit">Post</button>

</form>

</div>

<% }) %>
</main>






</body>
</html>