<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Crafto - The Multipurpose HTML5 Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description"
        content="Elevate your online presence with Crafto - a modern, versatile, multipurpose Bootstrap 5 responsive HTML5, SCSS template using highly creative 52+ ready demos.">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.min.css" />
    <link rel="stylesheet" href="/css/icon.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/feed.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/demos/fashion-store/fashion-store.css" />
    <!-- Font Awesome 6 (latest) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />


</head>

<body data-mobile-nav-style="classic">
    <!-- start header -->
    <header class="header-with-topbar">
     
            <div
                class="header-top-bar top-bar-light bg-black disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font fs-13 fw-500 text-uppercase">
                            <div class="text-green">Enjoy FAST delivery on all orders
                                nationwide.</div>
                            <a href="#" class="text-green fw-600 ms-5px text-hover"><span
                                    class="text-decoration-line-bottom">Shop now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed center-logo">
                <div class="container-fluid">
                    <div class="col-auto col-xxl-3 col-lg-2 menu-logo">
                        <div class="header-icon d-none d-lg-flex">
                            <div class="widget-text icon alt-font">
                                <a href="/contact">
                                        <i class="fa-brands fa-tiktok d-inline-block  me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Find stores</span></a>
                            </div>
                            <div class="widget-text icon alt-font">
                                <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa-brands fa-instagram d-inline-block me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Follow us</span></a>
                            </div>
                        </div>
                        <a class="navbar-brand" href="demo-fashion-store.html">
                            <h1 class="fs-3 name-logo">Trendy</h1>

                            <!-- <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="default-logo">
                        <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="alt-logo">
                        <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="mobile-logo"> -->
                        </a>
                    </div>
                    <div class="col-auto col-xxl-6 col-lg-8 menu-order">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav alt-font navbar-left justify-content-end">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item dropdown submenu">
                                    <a href="/chat" class="nav-link">Chat</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <!-- <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="d-lg-flex mega-menu m-auto flex-column">
                                        <div
                                            class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-3 mb-50px md-mb-25px xs-mb-15px">
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Men</li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Trousers</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Casual shirts</a></li>
                                                    <li><a href="#">Rain jackets</a></li>
                                                    <li><a href="#">Loungewear</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Women</li>
                                                    <li><a href="#">Dupattas</a></li>
                                                    <li><a href="#">Leggings</a></li>
                                                    <li><a href="#">Ethnic wear</a></li>
                                                    <li><a href="#">Kurtas & suits</a></li>
                                                    <li><a href="#">Western wear</a></li>
                                                    <li><a href="#">Dress materials</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Kids</li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Jumpsuits</a></li>
                                                    <li><a href="#">Track pants</a></li>
                                                    <li><a href="#">Ethnic wear</a></li>
                                                    <li><a href="#">Value packs</a></li>
                                                    <li><a href="#">Loungewear</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Divided</li>
                                                    <li><a href="#">Tops</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shorts</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Jeans</a></li>
                                                    <li><a href="#">Jackets</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul>
                                                    <li class="sub-title">Accessories</li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Scarves</a></li>
                                                    <li><a href="#">Watches</a></li>
                                                    <li><a href="#">Wristwear</a></li>
                                                    <li><a href="#">Backpacks</a></li>
                                                    <li><a href="#">Sunglasses</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-sm-2">
                                            <div class="col">
                                                <a href="demo-fashion-store-shop.html"><img
                                                        src="https://via.placeholder.com/580x175" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <a href="demo-fashion-store-shop.html"><img
                                                        src="https://via.placeholder.com/580x175" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                </li>
                                <!-- <li class="nav-item dropdown submenu">
                                <a href="demo-fashion-store-collection.html" class="nav-link">Collection</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="d-lg-flex mega-menu m-auto flex-column">
                                        <div
                                            class="row row-cols-2 row-cols-lg-6 row-cols-md-3 row-cols-sm-2 md-mx-0 align-items-center justify-content-center">
                                            <div class="col md-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Polo t-shirts</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Sunglasses</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Skinny blazer</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col sm-mb-25px">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Casual shoes</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Winter
                                                            jackets</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="demo-fashion-store-collection.html"
                                                    class="justify-content-center mb-10px">
                                                    <img src="https://via.placeholder.com/190x140"
                                                        class="border-radius-4px w-100" alt="">
                                                </a>
                                                <a href="demo-fashion-store-collection.html"
                                                    class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-17">Men's shorts</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            </ul>
                            <ul class="navbar-nav alt-font navbar-right justify-content-start">
                                <li class="nav-item">
                                    <!-- <a href="demo-fashion-store-magazine.html" class="nav-link">Magazine</a> -->
                                </li>
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">Pages</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                        <!-- <li><a href="demo-fashion-store-about.html">About</a></li>
                                    <li><a href="demo-fashion-store-faq.html">Faq</a></li>
                                    <li><a href="demo-fashion-store-wishlist.html">Wishlist</a></li> -->
                                        <li><a href="/orders">My orders</a></li>
                                        <!-- <li><a href="/cart">Cart</a></li> -->
                                         <li><a href="/cart">Cart</a></li>
                                        <li><a href="/checkout">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/contact" class="nav-link">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-xxl-3 col-lg-2 text-end">
                        <div class="header-icon">
                            <!-- <div class="header-search-icon icon alt-font">
                                <a href="javascript:void(0)" class="search-form-icon header-search-form"><i
                                        class="feather icon-feather-search me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Search</span></a>
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close alt-font">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left"
                                        action="search-result.html">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray text-center mb-4 fw-600 alt-font ls-minus-1px">
                                                What
                                                are you looking for?</h2>
                                            <input class="search-input alt-font" id="search-form-input5e219ef164995"
                                                placeholder="Enter your keywords..." name="s" value="" type="text"
                                                autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                            <div class="widget-text icon alt-font">

                                <!-- <a href="/register"><i class="feather icon-feather-user d-inline-block me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Account</span></a> -->

                                <% if (isAuth) { %>
                                    <!-- Show when logged in -->
                                    <!-- <a href="/profile"><i class="fas fa-user"></i> Profile</a>
                                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a> -->
                                    <a href="/profile"> Profile</a>
                                    <a href="/logout"> Logout</a>
                                    <% } else { %>
                                        <!-- Show when NOT logged in -->
                                        <a href="/login"> Login</a>
                                        <a href="/register">Signup</a>
                                        <% } %>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="/cart">
  <i class="fa-solid fa-cart-shopping"></i>

  <span class="cart-count alt-font text-white bg-dark-gray">
    <%= cartCount %>
  </span>
</a>
                                            <!-- <i class="feather icon-feather-shopping-bag"></i>  -->
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
         </header> 
         <!-- helper function -->

        <!-- end header -->
       
        <!-- start section -->
        <!-- here was casuals, men,women -->
        <!-- end section -->
        <!-- start section -->
       <section class="trending" id="trendingSection">

  <div class="trending-header">
    <h3>🔥 Trending Sets</h3>

    <a href="/trending" class="view-all-btn">
      View All →
    </a>
  </div>

  <div class="slider-container">
    <button class="nav prev">&#10094;</button>

    <div class="slider" id="slider"></div>

    <button class="nav next">&#10095;</button>
  </div>
  

</section>

  <section class="group-section">

    <div class="container">

        <!-- HEADER -->
        <div class="section-header">
            <h2> Group Buy Deals</h2>
            <p>Join others and unlock cheaper prices</p>
        </div>

        <!-- PRODUCT GRID -->
        <div class="product-grid">

            <% products.forEach(product => { %>

                <div class="product-card">

                    <!-- BADGE -->
                    <div class="badge">Group Buy</div>

                    <!-- IMAGE -->
                    
                    <div class="product-image">
    <a href="/product/<%= product._id %>">
        <img src="<%= product.image %>" alt="<%= product.name %>">
    </a>
</div>

                    <!-- INFO -->
                    <div class="product-info">

                        <!-- NAME -->
                        <h3 class="product-name">
                            <%= product.name %>
                        </h3>

                        <!-- PRICE -->
                      <!-- PRICE + CART ROW -->
<div class="price-row">

    <div class="product-price">
        ₦<%= product.price %>
    </div>

 <button 
  class="cart-btn"
  onclick="addToCart('<%= product._id %>')"
>
  <i class="fa-solid fa-cart-arrow-down"></i>
</button>

</div>

                        <!-- HINT (optional) -->
                        <!-- <div class="mini-info">
                            Tap to choose size & join deal
                        </div> -->

                    </div>

                </div>

            <% }) %>

        </div>

    </div>

</section>

<!-- ===================== -->
<!-- PRODUCT MODAL -->
<!-- ===================== -->


        <!-- end section -->
       
        <!-- end section -->
        <!-- start section -->
        <section class="p-0 border-top border-bottom border-color-extra-medium-gray">
            <div class="container-fluid">
                <div class="row position-relative">
                    <div class="col swiper text-center swiper-width-auto"
                        data-slider-options='{ "slidesPerView": "auto", "spaceBetween":0, "speed": 10000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                        <div class="swiper-wrapper marquee-slide">
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    Get 20% off for your first order</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    The fashion core collection</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    100% secure protected payment</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    Free shipping for orders over $130</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    Pay with multiple credit cards</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    Get 20% off for your first order</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    The fashion core collection</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div
                                    class="alt-font fs-26 fw-500 text-dark-gray border-color-extra-medium-gray border-end pt-30px pb-30px ps-60px pe-60px sm-p-25px">
                                    100% secure protected payment</div>
                            </div>
                            <!-- end client item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <!-- <section class="pb-3 ps-7 pe-7 lg-ps-3 lg-pe-3 xs-px-0">
        <div class="container">
            <div class="row mb-4 xs-mb-7">
                <div class="col-12 text-center">
                    <h2 class="alt-font text-dark-gray mb-0 ls-minus-2px">Fashion <span
                            class="text-highlight fw-600">magazine<span
                                class="bg-base-color h-5px bottom-2px"></span></span></h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large"
                        data-anime='{ "el": "childs", "translateY": [15, 0], "translateX": [-15, 0], "opacity": [0,1], "duration": 500, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <li class="grid-sizer"></li> -->
        <!-- start blog item -->
        <!-- <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden">
                                    <a href="demo-fashion-store-blog-single-creative.html"><img
                                            src="https://via.placeholder.com/600x455" alt="" /></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                                    <span class="mb-5px d-block">By <a href="#"
                                            class="text-dark-gray fw-500 categories-text">Den viliamson</a><a href="#"
                                            class="blog-date">26 December 2023</a></span>
                                    <a href="demo-fashion-store-blog-single-creative.html"
                                        class="alt-font card-title fs-20 lh-30 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">Elegance
                                        is not standing out, but being remembered.</a>
                                </div>
                            </div>
                        </li> -->
        <!-- end blog item -->
        <!-- start blog item -->
        <!-- <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden">
                                    <a href="demo-fashion-store-blog-single-creative.html"><img
                                            src="https://via.placeholder.com/600x455" alt="" /></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                                    <span class="mb-5px d-block">By <a href="#"
                                            class="text-dark-gray fw-500 categories-text">Hugh macleod</a><a href="#"
                                            class="blog-date">20 December 2023</a></span>
                                    <a href="demo-fashion-store-blog-single-creative.html"
                                        class="alt-font card-title fs-20 lh-30 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">Fashion
                                        is the armor to survive the reality of everyday life.</a>
                                </div>
                            </div>
                        </li> -->
        <!-- end blog item -->
        <!-- start blog item -->
        <!-- <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden">
                                    <a href="demo-fashion-store-blog-single-creative.html"><img
                                            src="https://via.placeholder.com/600x455" alt="" /></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                                    <span class="mb-5px d-block">By <a href="#"
                                            class="text-dark-gray fw-500 categories-text">Walton smith</a><a href="#"
                                            class="blog-date">10 December 2023</a></span>
                                    <a href="demo-fashion-store-blog-single-creative.html"
                                        class="alt-font card-title fs-20 lh-30 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">In
                                        order to be irreplaceable one must always be different.</a>
                                </div>
                            </div>
                        </li> -->
        <!-- end blog item -->
        <!-- start blog item -->
        <!-- <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden">
                                    <a href="demo-fashion-store-blog-single-creative.html"><img
                                            src="https://via.placeholder.com/600x455" alt="" /></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                                    <span class="mb-5px d-block">By <a href="#"
                                            class="text-dark-gray fw-500 categories-text">Walton smith</a><a href="#"
                                            class="blog-date">10 December 2023</a></span>
                                    <a href="demo-fashion-store-blog-single-creative.html"
                                        class="alt-font card-title fs-20 lh-30 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">Gucci
                                        has represented design and contemporary lifestyle.</a>
                                </div>
                            </div>
                        </li> -->
        <!-- end blog item -->
        <!-- </ul>
                </div>
            </div>
        </div>
    </section> -->
        <!-- end section -->
        <!-- start footer -->
        <footer class="footer-dark bg-dark-gray p-0">
            <div class="container">
                <div class="row align-items-center pt-35px pb-35px">

                    <!-- start footer column -->
                    <div class="col-12 col-md-auto sm-mb-15px text-center text-md-start">
                        <h4 class="name-logo">Trendy</h4>
                        <!-- <a href="demo-fashion-store.html" class="footer-logo"><img
                            src="images/demo-fashion-store-logo-white.png"
                            data-at2x="images/demo-fashion-store-logo-white@2x.png" alt="" class="default-logo"></a> -->
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col">
                        <ul class="footer-navbar text-center text-md-end">
                            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                            <!-- <li class="nav-item"><a href="demo-fashion-store-collection.html"
                                class="nav-link">Collection</a></li>
                        <li class="nav-item"><a href="demo-fashion-store-magazine.html" class="nav-link">Magazine</a>
                        </li> -->
                            <!-- <li class="nav-item"><a href="demo-fashion-store-about.html" class="nav-link">About</a></li> -->
                            <li class="nav-item"><a href="#" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end footer column -->
                </div>
                <div class="row justify-content-center fs-15 lh-28 pb-50px xs-pb-35px">
                    <div class="col-12 mb-50px sm-mb-35px">
                        <div class="divider-style-03 divider-style-03-01 border-color-transparent-white-light"></div>
                    </div>
                    <!-- start footer column -->
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="fw-500 d-block text-white mb-5px fs-17">Categories</span>
                        <ul>
                            <li><a href="#">Big sizes</a></li>
                            <li><a href="#">Small sizes</a>
                        </ul>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="fw-500 d-block text-white mb-5px fs-17">Information</span>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Terms & conditions</a></li>
                            <li><a href="#">Shipping & delivery</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="fw-500 d-block text-white mb-5px fs-17">Quick links</span>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <!-- <li><a href="#">Orders tracking</a></li> -->
                            <li><a href="#">Our store</a></li>
                            <li><a href="#">Size guide</a></li>
                            <!-- <li><a href="demo-fashion-store-faq.html">FAQs</a></li> -->
                        </ul>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div
                        class="col-6 col-lg-3 col-md-4 col-sm-5 md-mb-50px xs-mb-30px order-sm-2 order-lg-2 offset-md-2 offset-lg-0">
                        <span class="fw-500 d-block text-white mb-10px fs-17">Quick contact</span>
                        
                        
                       
                        <div class="elements-social social-icon-style-02">
                            <ul class="light">
                                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                            class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i
                                            class="fa-brands fa-dribbble"></i></a></li>
                                <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i
                                            class="fa-brands fa-twitter"></i></a></li>
                                <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i
                                            class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-lg-3 col-md-6 col-sm-7 ps-20px sm-ps-15px md-mb-50px xs-mb-0 order-sm-1 order-lg-5">
                        <span class="fw-500 d-block text-white mb-5px fs-17">Become a member of our wholesale
                            group</span>
                        <div class="mb-15px">Join now and get extra discount!</div>
                        <div class="d-inline-block w-100 newsletter-style-04 position-relative mb-15px">
                            <form action="email-templates/subscribe-newsletter.php" method="post"
                                class="position-relative w-100">
                                <input
                                    class="input-small bg-nero-grey border-radius-4px border-color-transparent w-100 form-control pe-50px ps-20px lg-ps-15px required"
                                    type="email" name="email" placeholder="Enter your email" />
                                <input type="hidden" name="redirect" value="">
                                <button class="btn pe-20px submit" aria-label="submit"><i
                                        class="icon bi bi-envelope icon-small text-white"></i></button>
                                <div
                                    class="form-results border-radius-4px pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none">
                                </div>
                            </form>
                        </div>
                        <div class="footer-card">
                            <a href="#" class="d-inline-block me-5px align-middle"><img
                                    src="https://via.placeholder.com/55x20" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img
                                    src="https://via.placeholder.com/55x20" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img
                                    src="https://via.placeholder.com/55x20" alt=""></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img
                                    src="https://via.placeholder.com/55x20" alt=""></a>
                        </div>
                    </div>
                    <!-- end footer column -->
                </div>
            </div>
            <div class="pt-30px pb-30px bg-nero-grey">
                <div class="container">
                    <div class="row align-items-center fs-15">
                        <div
                            class="col-12 col-lg-7 last-paragraph-no-margin md-mb-15px text-center text-lg-start lh-22">
                            <p>This site is protected by reCAPTCHA and the Google <a href="#"
                                    class="text-white text-decoration-line-bottom">privacy policy</a> and <a href="#"
                                    class="text-white text-decoration-line-bottom">terms of service.</a></p>
                        </div>
                        <div class="col-12 col-lg-5 text-center text-lg-end lh-22">
                            <span>&copy; 2025 website by <a href="https://www.themezaa.com/" target="_blank"
                                    class="text-decoration-line-bottom text-white">Albex</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start cookie message -->
        <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px">
            <div class="cookie-description fs-14 text-white mb-20px lh-22">We use cookies to enhance your browsing
                experience, serve personalized ads or content, and analyze our traffic. By clicking "Allow cookies" you
                consent to our use of cookies. </div>
            <div class="cookie-btn">
                <a href="#"
                    class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px"
                    aria-label="btn">
                    <span>
                        <span class="btn-double-text" data-text="Cookie policy">Cookie policy</span>
                    </span>
                </a>
                <a href="#"
                    class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100"
                    data-accept-btn aria-label="text">
                    <span>
                        <span class="btn-double-text" data-text="Allow cookies">Allow cookies</span>
                    </span>
                </a>
            </div>
        </div>
        <!-- end cookie message -->
        <!-- start sticky elements -->
        <div class="sticky-wrap z-index-1 d-none d-xl-inline-block" data-animation-delay="100"
            data-shadow-animation="true">
            <div class="elements-social social-icon-style-10">
                <ul class="fs-16">
                    <li class="me-30px"><a class="facebook" href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook-f me-10px"></i>
                            <span class="alt-font">Facebook</span>
                        </a>
                    </li>
                    <li class="me-30px">
                        <a class="dribbble" href="http://www.dribbble.com" target="_blank">
                            <i class="fa-brands fa-dribbble me-10px"></i>
                            <span class="alt-font">Dribbble</span>
                        </a>
                    </li>
                    <li class="me-30px">
                        <a class="twitter" href="http://www.twitter.com" target="_blank">
                            <i class="fa-brands fa-twitter me-10px"></i>
                            <span class="alt-font">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a class="instagram" href="http://www.instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram me-10px"></i>
                            <span class="alt-font">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end sticky elements -->
        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span
                        class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->




        <!-- javascript libraries -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/vendors.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

        <!-- <script></script> -->

<!-- ADD TO CART -->
<script>
  async function addToCart(productId) {

    try {

      const res = await fetch("/cart/add", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          productId,
          quantity: 1
        })
      });

      // if redirected to login
      if (res.redirected) {
        window.location.href = res.url;
        return;
      }

      // success
      window.location.href = "/cart";

    } catch (err) {

      console.log(err);
      alert("Failed to add to cart");

    }
  }
</script>

<!-- SLIDER SCRIPT (ONLY ONCE) -->
<script src="/slider.js"></script>

</body>

</html>