<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <title>Treenndy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ABLX">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description"
        content="Cheapest online stores for your turkey wears">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="/css/vendors.min.css" />
    <link rel="stylesheet" href="/css/icon.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/feed.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/demos/fashion-store/fashion-store.css" />
    <!-- Font Awesome 6 (latest) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />


</head>

<body data-mobile-nav-style="classic">
    <!-- start header -->
    <header class="header-with-topbar">
     
            <div
                class="header-top-bar top-bar-light bg-black disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font fs-13 fw-500 text-uppercase">
                            <div class="text-green">Enjoy the cheapest prices on all styles.</div>
                            <a href="#" class="text-green fw-600 ms-5px text-hover"><span
                                    class="text-decoration-line-bottom">Shop now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed center-logo">
                <div class="container-fluid">
                    <div class="col-auto col-xxl-3 col-lg-2 menu-logo">
                        <div class="header-icon d-none d-lg-flex">
                            <div class="widget-text icon alt-font">
                                <a href="/contact">
                                        <i class="fa-brands fa-tiktok d-inline-block  me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Find stores</span></a>
                            </div>
                            <div class="widget-text icon alt-font">
                                <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa-brands fa-instagram d-inline-block me-5px"></i><span
                                        class="d-none d-xxl-inline-block">Follow us</span></a>
                            </div>
                        </div>
                        <a class="navbar-brand" href="demo-fashion-store.html">
                            <h1 class="fs-3 name-logo">Trendy</h1>

                            <!-- <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="default-logo">
                        <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="alt-logo">
                        <img src="images/demo-fashion-store-logo-black.png"
                            data-at2x="images/demo-fashion-store-logo-black@2x.png" alt="" class="mobile-logo"> -->
                        </a>
                    </div>
                    <div class="col-auto col-xxl-6 col-lg-8 menu-order">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav alt-font navbar-left justify-content-end">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item dropdown submenu">
                                    <a href="/chat" class="nav-link">Chat</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    
                                </li>
                               
                            </ul>
                            <ul class="navbar-nav alt-font navbar-right justify-content-start">
                                <li class="nav-item">
                                    <!-- <a href="demo-fashion-store-magazine.html" class="nav-link">Magazine</a> -->
                                </li>
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">Pages</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                        <!-- <li><a href="demo-fashion-store-about.html">About</a></li>
                                    <li><a href="demo-fashion-store-faq.html">Faq</a></li>
                                    <li><a href="demo-fashion-store-wishlist.html">Wishlist</a></li> -->
                                        <li><a href="/orders">My orders</a></li>
                                        <!-- <li><a href="/cart">Cart</a></li> -->
                                         <li><a href="/cart">Cart</a></li>
                                        <li><a href="/checkout">Checkout</a></li>
                                        <li><a href="/">Big sizes</a></li>
                                        <li><a href="/trending">Small sizes</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/contact" class="nav-link">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-xxl-3 col-lg-2 text-end">
                        <div class="header-icon">
                           
                            <div class="widget-text icon alt-font">

                               
                                <% if (isAuth) { %>
                                    <!-- Show when logged in -->
                                    <!-- <a href="/profile"><i class="fas fa-user"></i> Profile</a>
                                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a> -->
                                    <a href="/profile"> Profile</a>
                                    <a href="/logout"> Logout</a>
                                    <% } else { %>
                                        <!-- Show when NOT logged in -->
                                        <a href="/login"> Login</a>
                                        <a href="/register">Signup</a>
                                        <% } %>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="/cart">
  <i class="fa-solid fa-cart-shopping"></i>

  <span class="cart-count alt-font text-white bg-dark-gray">
    <%= cartCount %>
  </span>
</a>
                                            <!-- <i class="feather icon-feather-shopping-bag"></i>  -->
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
         </header> 

         <!-- helper function -->


<section class="product-detail">

    <!-- LEFT SIDE -->
    <div class="gallery-section">

        <div class="main-image-wrapper">
            <img
                id="mainImage"
                src="<%= product.images && product.images.length > 0 ? product.images[0] : product.image %>"
                alt="<%= product.name %>"
                class="main-image"
            >
        </div>

        <div class="thumbs">
            <% if(product.images && product.images.length > 0){ %>
                <% product.images.forEach(img => { %>
                    <img
                        src="<%= img %>"
                        class="thumb-image"
                        onclick="changeImage(this.src)"
                    >
                <% }) %>
            <% } %>
        </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="info-section">

        <h1 class="product-title"><%= product.name %></h1>

        <p class="product-description"><%= product.description %></p>

        <div class="price-box">

            <div class="single-price">
                Single Price:
                <span>₦<%= product.singlePrice || product.price %></span>
            </div>

            <div class="group-price">
                Group Buy:
                <span>₦<%= product.groupPrice || product.price %></span>
            </div>

        </div>

        <!-- GROUP BUY -->
        <div class="group-progress-box">

        <% if(group){ %>

            <h3 class="group-title">Group Buy Progress</h3>

            <p class="progress-text">
                <span id="joinedCount"><%= group.members.length %></span>
                /
                <span id="totalCount"><%= product.groupSize %></span>
                Members Joined
            </p>

            <div class="progress-bar">
                <div class="progress-fill" id="progressFill"></div>
            </div>

            <div class="fomo-box">

                <div class="fomo-item">
                    🔥 <%= product.groupSize - group.members.length %> spots left at this price
                </div>

                <% if(group.members.length >= product.groupSize - 2){ %>
                    <div class="fomo-item hot">🔥 Group almost full</div>
                <% } %>

                <div class="fomo-item live" id="liveText">
                    🔥 Someone joined 4 mins ago
                </div>

            </div>

        <% } else { %>

            <div class="fomo-item">🔥 Be the first to join this deal</div>

        <% } %>

        </div>

        <!-- OPTIONS -->
        <div class="option-group">
            <label>Select Size</label>
            <select class="product-select" id="sizeSelect">
                <option value="">Select Size</option>
                <% if(product.sizes && product.sizes.length > 0){ %>
                    <% product.sizes.forEach(size => { %>
                        <option value="<%= size %>"><%= size %></option>
                    <% }) %>
                <% } else { %>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                <% } %>
            </select>
        </div>

        <div class="option-group">
            <label>Select Color</label>
            <select class="product-select" id="colorSelect">
                <option value="">Select Color</option>
                <% if(product.colors && product.colors.length > 0){ %>
                    <% product.colors.forEach(color => { %>
                        <option value="<%= color %>"><%= color %></option>
                    <% }) %>
                <% } else { %>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                <% } %>
            </select>
        </div>

        <!-- QUANTITY -->
        <div class="quantity-wrapper">
            <label>Quantity</label>

            <div class="qty-box">
                <button type="button" onclick="decreaseQty()">-</button>

                <input type="text" id="qty" value="1" readonly>

                <button type="button" onclick="increaseQty()">+</button>
            </div>
        </div>

        <!-- ADD TO CART -->
        <form action="/cart/add" method="POST" class="cartForm">

            <input type="hidden" name="productId" value="<%= product._id %>">
            <input type="hidden" name="quantity" id="cartQty" value="1">

            <input type="hidden" name="size" class="selectedSize">
            <input type="hidden" name="color" class="selectedColor">

            <button class="add-cart-btn">Add To Cart</button>

        </form>

        <!-- GROUP BUY -->
        <form action="/cart/add" method="POST" class="cartForm">

            <input type="hidden" name="productId" value="<%= product._id %>">
            <input type="hidden" name="quantity" id="groupQty" value="1">

            <input type="hidden" name="size" class="selectedSize">
            <input type="hidden" name="color" class="selectedColor">

            <input type="hidden" name="groupBuy" value="true">

            <button class="group-btn">Join Group Buy</button>

        </form>

    </div>

</section>




        <!-- javascript libraries -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/vendors.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

<!-- SAFE DATA -->
<script>
const joined = <%- JSON.stringify(group ? group.members.length : 0) %>;
const total = <%- JSON.stringify(product.groupSize || 1) %>;
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const percent = total > 0 ? (joined / total) * 100 : 0;

    const bar = document.getElementById("progressFill");
    if (bar) bar.style.width = percent + "%";

    const messages = [
        "🔥 Someone joined just now",
        "🔥 Someone joined 1 min ago",
        "🔥 Someone joined 2 mins ago",
        "🔥 Someone joined 4 mins ago",
        "🔥 Someone just secured their slot"
    ];

    let i = 0;

    setInterval(() => {
        const el = document.getElementById("liveText");
        if (!el) return;

        el.style.opacity = 0;

        setTimeout(() => {
            el.textContent = messages[i];
            el.style.opacity = 1;
            i = (i + 1) % messages.length;
        }, 300);

    }, 3000);

});

// IMAGE CHANGE
function changeImage(src){
    document.getElementById("mainImage").src = src;
}

// QTY
function increaseQty(){
    const qty = document.getElementById("qty");
    qty.value = +qty.value + 1;
    document.getElementById("cartQty").value = qty.value;
    document.getElementById("groupQty").value = qty.value;
}

function decreaseQty(){
    const qty = document.getElementById("qty");
    if (+qty.value > 1) {
        qty.value = +qty.value - 1;
        document.getElementById("cartQty").value = qty.value;
        document.getElementById("groupQty").value = qty.value;
    }
}

// SYNC OPTIONS BEFORE SUBMIT
document.querySelectorAll(".cartForm").forEach(form => {
    form.addEventListener("submit", function () {

        const size = document.getElementById("sizeSelect")?.value;
        const color = document.getElementById("colorSelect")?.value;

        form.querySelector(".selectedSize").value = size;
        form.querySelector(".selectedColor").value = color;

    });
});
</script>

</body>
</html>